* {
  box-sizing: border-box;
}
// 头部样式
.edit-header {
  position: relative;
  height: 64px;
  padding: 0 18px;
  border-bottom: 1px solid #ddd;
  .title-input {
    height: 100%;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    color: #000;
    border: none;
    outline: none;
  }
}

// 编辑框主体样式
.editor-main-a {
  display: flex;
  flex: 1;
  .common-container {
    width: 50%;
    overflow-y: scroll;
    border: 1px solid #ddd;
    border-top: none;
    .common-wrapper {
      padding: 20px;
      min-height: 100%;
      outline: none;
    }
  }
}

// markdown 预览样式
.markdown-body {
  word-wrap: break-word;
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  h1, h2, h3, h4, h5, h5 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
  }
  h1 {
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid #eaecef
  }
  h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid #eaecef
  }
  h3 {
    font-size: 1.25em
  }
  h4 {
    font-size: 1em
  }
  h5 {
    font-size: 0.875em
  }
  h6 {
    font-size: 0.85em;
    color: #6a737d
  }
  a {
    color: #0366d6;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  p, blockquote, ul, ol, dl, table, pre {
    margin-top: 0;
    margin-bottom: 16px
  }
  ol, ul {
    padding-left: 2em;
  }
  li {
    list-style: initial;
    word-wrap: break-all;
    &>p {
      margin-top: 16px;
    }
    &+li {
      margin-top: .25em;
    }
  }
  dl {
    padding: 0;
  }
  dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600
  }
  dl dd {
    padding: 0 16px;
    margin-bottom: 16px
  }
  table {
    display: block;
    width: 100%;
    overflow: auto
    th {
      font-weight: 600;
    }
    th, td {
      padding: 6px 13px;
      border: 1px solid #dfe2e5
    }
    tr {
      background-color: #fff;
      border-top: 1px solid #c6cbd1;
      &:nth-child(2n) {
          background-color: #f6f8fa
      }
    }
    img {
      background-color: transparent
    }
  }
  img {
    max-width: 100%;
    box-sizing: content-box;
    background-color: #fff
  }
  hr {
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e1e4e8;
    border: 0
  }
  blockquote {
    margin-left: 0;
    margin-right: 0;
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
    &>:first-child {
      margin-top: 0;
    }
    &>:last-child {
      margin-bottom: 0;
    }
  }
  code, tt {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px;
    & br {
      display: none;
    }
  }
  pre {
    word-wrap: normal;
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
    code {
      font-size: 100%;
      white-space: pre;
    }
    code, tt {
      display: inline;
      max-width: auto;
      padding: 0;
      margin: 0;
      overflow: visible;
      line-height: inherit;
      word-wrap: normal;
      background-color: transparent;
      border: 0
    }
  }
}

// 滚动条样式
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-radius: 9px;
  &:hover {
    background-color: #fafafa
  }
}

::-webkit-scrollbar-track:hover {
  background: #f6f6f6;
}

::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background-clip: content-box;
  border: 5px solid transparent;
  background-color: #c2c2c2;
  background-clip: content-box;
  &:hover {
    background-color: #A4A4A4;
  }
}

::-webkit-scrollbar-thumb:vertical:active {
  background-color: #9da1a5;
  border: 5px solid transparent
}